/*
:root {
    box-sizing: border-box;
    color: antiquewhite;
    background-color: #000d1a;
}
*/
:root {
    --dark: #3a3a3a;
    --text-color: antiquewhite;
}

body {
    font-size: 1.75rem;
    line-height: 1;
    font-family: monospace;
    color: var(--text-color);
    background-color: var(--dark); 
    
}

.header {
    display: flex;
    position: relative;
    background-color: #000;
    padding: 20px;
}

.header nav ul li {

    display: inline-block;
    margin-left: 10px;

}


h1 {
    display: flex;
}

.name {
    flex-wrap: wrap;
}


.hero {
    background-color: var(--dark);
}

.footer {
    padding: 30px;
    position: fixed;
    margin-bottom: 100%;
}

