:root {
    --dark: #3a3a3a;
    --text-color: antiquewhite;
}

body {
    font-size: 1.75rem;
    line-height: 1;
    font-family: monospace;
    color: var(--text-color);
    background-color: var(--dark); 
    
}

.header {
    display: flex;
    flex-direction: column;
    padding: 44px;
    background: url("./images/MidJVinesFull.png") no-repeat center;
    background-size: cover;
}
nav {
    display: inline;
}

.name {
    text-shadow: -5px 8px 11px black;
}

ul{
    display: flex;
}


.header nav ul li {
    margin-left: 10px;
    color: var(--text-color);
}


a {
    color: var(--text-color);
   text-shadow: -5px 3px 7px black;
}


a:visited {
    color: rgb(233, 176, 102);
}


h1 {
    display: flex;
}


.recent-photo {
    position: relative;
    margin-left: 35vw;
    width: 34vw;
    height: 38vh;
}

section {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
}

h2{
    text-align: center;
    font-size: 75px;
}

section p {
    text-align: center;
    margin: 25px;
}


.footer {
    padding: 30px;
    margin-bottom: 100%;
}

